.formContainer {
    width: 100%;
}

.form {
    width: 80%;
}

.formInfo {
    width: 100%
}
.formBorder {
    border: 1px solid #F0F2F5;
    border-radius: 1rem;
    padding: 2rem;
}

.payment {
    background: white;
    border-radius: 1rem;
    margin: 1rem 0;
    padding: 2rem 0;
}

.paymentItem {
    width: 80%;
    margin: 1rem;
    text-align: center;
}

@media (max-width: 330px) {
    .formBorder {
        padding: .5rem 1rem;
}
}
