.formContainer {
    width: 100%;
}

.form {
    width: 80%;
    min-height: 100vh;
    margin-top: 6rem;
    margin-bottom: 1rem;
}

.formInfo {
    width: 100%
}

.payment {
    background: white;
    border-radius: 1rem;
    margin: 1rem 0;
    padding: 2rem 0;
}

.paymentItem {
    width: 80%;
    margin: 1rem;
    text-align: center;
}
.radioBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 40em) {
    
    .formBorder {
        padding: .5rem 1rem;
    }
    .radioBtn {
        flex-direction: column;
    }
    .customerField {
        flex-direction: column;
        width: 100%
    }

}
