
.flex-col {
    display: flex;
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.vh100 {
    min-height: 100vh;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.centerX {
    justify-content: center;
}

.centerY {
    align-items: center;
}

.centerText {
    text-align: center;
}

.end {
    justify-content: flex-end;
}

.column {
    flex-direction: column;
}

.space-around {
    justify-content: space-around;
}
.space-evenly {
    justify-content: space-evenly;
}

.p1 {
    padding: 1rem;
}

.p2 {
    padding: 2rem;
}

.p3 {
    padding: 3rem;
}

.p4 {
    padding: 4rem;
}

.p5 {
    padding: 5rem;
}