

.imageBg {
    position: absolute;
    z-index: -100;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    top: 0;

}

.axgTitle {
    margin-top: 15rem;
}

.newsContainer {
    margin-top: 35rem;
    margin-bottom: 5rem;
    width: 100%;

}

.newReleases {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}