.shopContainer {
    width: 100%;
    flex-wrap: wrap;

}

.imageBack {
    position: absolute;
    z-index: -100;
    height: 50vh;
    width: 100%;
    object-fit: cover;
    top: 0;

}

.shopItems {
    margin-bottom: 2rem;
    flex-wrap: wrap;
    flex-direction: row;
}

.produktImage {
    width: 20rem;
    border-radius: 1rem;
}